
     
 
      
      <div id="navbar" class="navbar navbar-default"><!-- navbar navbar-default Begin -->
           
      
      </div>
      
      
    <h1>POST FEEDBACK</h1>


    <hr>
 
      
    <div class="container">
        <h1></h1>
        <form action="open_post" method="POST">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Post Title</label
            >
            <input
              type="text"
              class="form-control"
              id="post_title"
              placeholder="Post Title"
              name="post_title"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Description</label
            >
            <textarea
              class="form-control"
              id="post_description"
              rows="3"
              name="post_description"
            ></textarea>
          </div>
          <input type="submit" class="btn btn-outline-primary" value="Post" />
        </form>
    </div>
   


