



    <div class="navbar-header"><!-- navbar-header Begin -->
               
        <a href="index.html" class="navbar-brand home"><!-- navbar-brand home Begin -->
            
            <img src="assets/images\images/logo1.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 80px">
           
            
            
        </a><!-- navbar-brand home Finish -->

       
       
        
    </div><!-- navbar-header Finish -->
    
  <div id="top"><!-- Top Begin -->
       
    <div class="container"><!-- container Begin -->
        
        <div class="col-md- offer"><!-- col-md-6 offer Begin -->
            
            <a href="#" class="btn btn-success btn-sm">
                
              
            </a>
           
            
        </div><!-- col-md-6 offer Finish -->
        <div class="container"><!-- container Begin -->
            <div class="col-md-12 text-right">
                <div class="cart_icon" routerLink="/cart" routerLinkActive="activeS">
                   
                   <div class="cart_value">
                    <i class="fa fa-shopping-cart " aria-hidden="true"></i>
                       {{cartItem}}
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"><!-- col-md-6 Begin -->
            
            <ul class="menu"><!--register cmenu Begin -->
                <li><a routerLink="/homepage" routerLinkActive="activeS">Home</a></li>
                <li><a routerLink="/product" routerLinkActive="activeS">Shop</a></li>
                <li><a routerLink="/login" routerLinkActive="activeS">Login</a></li>
                
                <li><a routerLink="/register" routerLinkActive="activeS">Register</a></li>
                <li><a routerLink="/feedback" routerLinkActive="activeS">Feedback</a></li>
                <li><a routerLink="/contact" routerLinkActive="activeS">Contact</a></li>
                
            
              
            </ul><!-- menu Finish -->
                  
 
            
        </div>
        <!-- col-md-6 Finish -->
       
    </div><!-- container Finish -->
    
</div><!-- Top Finish -->

<div id="navbar" class="navbar navbar-default"><!-- navbar navbar-default Begin -->
 
</div>




