
<button><a routerLink="/product" routerLinkActive="activeS"></a></button>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/slider_images/bg1.jpg" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="assets/slider_images/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/slider_images/bg3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    
  </button>
</div>


<hr/> 




<div id="advantages">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-4">
                
                <div class="box same-height">
                    
                   
                    
                    <h3><a href="#">Best Offer</a></h3>
                    
                    <p> Flat 20% Discount !!! </p>
                    
                </div>
                
            </div>
            
            <div class="col-sm-4">
                
                <div class="box same-height">
                    
                    
                    <h3><a [routerLink]="['/product']">Best Prices</a></h3>
                    
                    <p>Your destination for best prices !!</p>
               
                    
                </div>
                
            </div>
            
            <div class="col-sm-4">
                
                <div class="box same-height">
                    
                    
                    
                    <h3><a href="#">100% Original</a></h3>
                    
                    <p>100 % Healthy Baked and Spongy Cakes !!!<p>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>

<div id="hot">
    
    <div class="box">
        
        <div class="container">
            
            <div class="col-md-12">
                
                <h2>
                    Check Our Latest Arrivals
                    
                </h2>
                
            </div>
            
        </div>
        
    </div>
    
</div>

<div class="gallery">
    <a target="_blank" href="assets/product_images/1.jpg"  routerLink="/product" routerLinkActive="activeS"> 
        <img src="assets/product_images/1.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style=" width: 325px">
       
    </a>
    <div class="desc">
      Rs. 5000
      <br>
       
    </div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="assets/product_images/2.jpg" routerLink="/product" routerLinkActive="activeS">
        <img src="assets/product_images/2.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style="width: 325px">
    </a>
    <div class="desc">
      Rs. 5000
      <br>
       
    </div>
  </div>
  <div class="gallery">
    <a target="_blank" href="assets/product_images/3.jpg" routerLink="/product" routerLinkActive="activeS">
        <img src="assets/product_images/3.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style="width: 325px">
    </a>
    <div class="desc">
      Rs. 5000
      <br>
        

    </div>
  </div>
  <div class="gallery">
    <a target="_blank" href="assets/product_images/4.jpg" routerLink="/product" routerLinkActive="activeS">
        <img src="assets/product_images/4.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style="width: 325px">
    </a>
    <div class="desc">
      Rs. 5000
      <br>
       

    </div>
  </div>
  <div class="gallery">
    <a target="_blank" href="assets/product_images/5.jpg" routerLink="/product" routerLinkActive="activeS">
        <img src="assets/product_images/5.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style="width: 325px">
    </a>
    <div class="desc">
      Rs. 5000
      <br>
        

    </div>
  </div>
  <div class="gallery">
    <a target="_blank" href="assets/product_images/6.jpg" routerLink="/product" routerLinkActive="activeS">
        <img src="assets/product_images/6.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style="width: 325px">
    </a>
    <div class="desc">
      Rs. 5000
      <br>
        

    </div>
  </div>

  <div class="gallery">
    <a target="_blank" href="assets/product_images/7.jpg" routerLink="/product" routerLinkActive="activeS">
        <img src="assets/product_images/7.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style=" width:325px">
    </a>
    <div class="desc">
         Rs. 5000
         <br>
        

    </div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="assets/product_images/8.jpg" routerLink="/product" routerLinkActive="activeS">
        <img src="assets/product_images/8.jpg" alt="Lavista Logo" class="hidden-xs" style="height: 350px" style="width:325px">
    </a>
    <div class="desc">
      Rs. 5000
      <br>
      

    </div>
  </div>
 
 
  




















